@page
@model ILCDirectory.Pages.Addresses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Addresses[0].IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addresses[0].IncludeInDirectory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addresses[0].AddressLine1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addresses[0].AddressLine2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addresses[0].AddressLine3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addresses[0].AddressLine4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addresses[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addresses[0].State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addresses[0].ZipCode)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.Addresses[0].BoxNumber)
            </th>
*@            <th>
                @Html.DisplayNameFor(model => model.Addresses[0].RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addresses[0].DeliveryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addresses[0].MailListFlag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addresses[0].MailOnly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addresses[0].MailSortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addresses[0].SpecialContactInfo)
            </th>
  @*          <th>
                @Html.DisplayNameFor(model => model.Addresses[0].SpecialForwardingInstructions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addresses[0].SpecialHandlingInstructions)
            </th>
  *@          <th>
                @Html.DisplayNameFor(model => model.Addresses[0].BuildingCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addresses[0].CubicleNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Addresses) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncludeInDirectory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressLine1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressLine2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressLine3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressLine4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuditTrail)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.BoxNumber)
            </td>
*@            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MailListFlag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MailOnly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MailSortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialContactInfo)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.SpecialForwardingInstructions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialHandlingInstructions)
            </td>
*@            <td>
                @Html.DisplayFor(modelItem => item.BuildingCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CubicleNumber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AddressId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AddressId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AddressId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
