@page
@model IndexModel
@{
    ViewData["Title"] = "People Index";
}

<style>
    .hiddenRow {
       padding: 0 !important;
    }
</style>
<div class="m-1">
    <div class="display-6 position-absolute start-0 m-1">
        <strong><em>People</em></strong>
    </div>
    <div class="position-absolute end-0 mt-4">

        <!-- Search Form - for controller method named OnPostAsync -->
        <form method="Post"><i class="fa-solid fa-magnifying-glass"></i>
            <svg title="Search Names and Addresses" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                
            </svg>
            <input asp-for="SearchText" />
            <button type="submit" class="btn btn-light rounded-3">Search</button>
            <input asp-for="LocalSearch" style="" onchange="" /> <label for="localOnlyCheckbox">Local Only</label>&nbsp;&nbsp;
            <input asp-for="SearchAddresses" style="" onchange="" /> <label for="searchAddressesCheckbox">Addresses</label>&nbsp;&nbsp;
            <input asp-for="SearchPeople" style="" onchange="" /> <label for="searchPeopleCheckbox">People</label>&nbsp;&nbsp;
        </form>
        <a asp-page="Create">Create New Person</a>
    </div>
</div>
<p class="m-5" />

<table class="main-table table table-bordered table-condensed table-hover table-striped" style="border-collapse:collapse;">
    <thead>
        <tr>
            <th>
                Name (Last (Maiden), First (Nickname))
            </th>
            <th>
                <label asp-for="Persons[0].LanguagesSpoken"></label>
            </th>
            <th>
                Current Address
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Persons)
        {
            <tr data-toggle="collapse" data-target="#person-detail-@item.PersonId" id="row-@item.PersonId" class="accordion-toggle">
                <td>
                    @item.LastName@Html.DisplayFor(modelItem => item.MaidenName),
                    @item.FirstName @Html.DisplayFor(modelItem => item.NickName)
                </td>
                <td>
                    @item.LanguagesSpoken
                </td>
                <td>
                    @*@Html.DisplayNameFor(model => model.Persons[0].GetAddress())*@
                </td>
                <td>
                    <i style = "color:maroon;" class="fa-solid fa-square-xmark"></i>
                </td>
            </tr>
            <tr class="hiddenRow">
                <td colspan="4" class="hiddenRow">
                    <div class="accordian-body collapse" id="person-detail-@item.PersonId">
                        <p>
                            PersonId: @item.PersonId <br />
                            next line
                        </p>
                    </div>
                </td>
            </tr>

        }
    </tbody>
</table>

<script>
$(document).ready(function () {
    $('.accordian-body').on('show.bs.collapse', function () {
        $(this).closest("table")
            .find(".collapse.in")
            .not(this)
            .collapse('toggle')
    })
});
</script>
