@page
@model IndexModel
@{
    ViewData["Title"] = "People Index";
}

<div class="container shadow min-vh-100 py-2">
    <div class="row">
        <div class="col-lg-12">
            <div class="display-6 start-0 m-1">
                <strong><em>People</em></strong>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg-12">
            <!-- Search Form - for controller method named OnPostAsync -->
            <form method="post" class="form-group">
                <i class="fa-solid fa-magnifying-glass"></i>                
                <input asp-for="SearchText" class="me-0 pe-0" placeholder="search text" />
                <button class="btn btn-outline-secondary m-0 border-0 rounded-0 rounded-right" type="button" onclick="document.getElementById('SearchText').value = '';document.getElementById('SearchText').focus();">
                    <i class="fa fa-times"></i>
                </button>
                <button type="submit" class="btn btn-primary rounded-3" asp-page-handler="Search">Search</button>
                <span class="form-check-inline"><input class="form-check-input" asp-for="LocalSearch" type="checkbox" /><label class="form-check-label" asp-for="LocalSearch">Local</label></span>
                <span class="form-check-inline"><input class="form-check-input" asp-for="IncludeChildren" type="checkbox" /><label class="form-check-label" asp-for="IncludeChildren">Include Children</label></span>
                <span class="form-check-inline"><input class="form-check-input" asp-for="SearchPartialWords" type="checkbox" /><label class="form-check-label" asp-for="SearchPartialWords">Partial Words</label></span>
                <button class="float-end btn btn-light rounded-3" asp-page-handler="CreatePerson">Create Person</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table accordion" id="person-table">
                <thead>
                    <tr>
                        <th scope="col">
                            Name (Last (Maiden), First (Nickname))
                        </th>
                        <th scope="col">
                            Languages Spoken
                        </th>
                        <th scope="col">
                            Current Address
                        </th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Persons)
                    {
                        <tr data-bs-toggle="collapse" data-bs-target="#person-detail-@item.PersonId">
                            <td>
                                @item.LastName@Html.DisplayFor(modelItem => item.MaidenName),
                                @item.FirstName @Html.DisplayFor(modelItem => item.NickName)                            
                            </td>
                            <td>
                                @item.LanguagesSpoken
                            </td>
                            <td>
                                @*@Html.DisplayNameFor(model => model.Persons[0].GetAddress())*@
                            </td>
                            <td>
                                <i style = "color:maroon;" class="fa-solid fa-square-xmark"></i>
                            </td>
                        </tr>
                        <tr class="collapse accordion-collapse" id="person-detail-@item.PersonId" data-bs-parent="#person-table">
                            <td colspan="4">
                                <p>
                                    PersonId: @item.PersonId <br />
                                    next line
                                </p>
                            </td>
                        </tr>    
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>