@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    ViewData["Title"] = "People Index";
}

<div class="m-1">
    <div class="display-6 position-absolute start-0 m-1">
        <strong><em>People</em></strong>
    </div>
    <div class="position-absolute end-0 mt-4">
        <svg title="Search Names and Addresses" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg> 
        <input /> 
        <input id="localOnlyCheckbox" type="checkbox" /> <label for="localOnlyCheckbox">Local Only</label>&nbsp;&nbsp; 
        <a asp-page="Create">Create New Person</a>
    </div>
</div>
<p class="m-5" />

<table class="table">
    <thead>
        <tr>
            <th>
                Name (Last (Maiden), First (Nickname))
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persons[0].LanguagesSpoken)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Persons)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)@Html.DisplayFor(modelItem => item.MaidenName),
                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.NickName)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LanguagesSpoken)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.PersonId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.PersonId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.PersonId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
